name: Nightly Test run (Jahia Snapshot)

on:
  workflow_dispatch:
  schedule:
    - cron:  '0 0 * * *'

jobs:
  integration-tests-sn:
    name: Integration Tests (Jahia-SN)
    secrets: inherit
    uses: Jahia/jahia-modules-action/.github/workflows/reusable-integration-tests.yml@v2
    with:
      module_id: jahia-page-composer
      provisioning_manifest: provisioning-manifest-snapshot.yml
      testrail_project: Page Composer Module
      jahia_image: jahia/jahia-ee-dev:8-SNAPSHOT
      artifact_prefix: jpc-sn
      timeout_job: 45
      timeout_step: 35
