name: Nightly Test run (Jahia Release)

on:
  workflow_dispatch:
  schedule:
    - cron:  '0 1 * * *'

jobs:
  integration-tests-rl:
    name: Integration Tests (Jahia-RL)
    secrets: inherit
    uses: Jahia/jahia-modules-action/.github/workflows/reusable-integration-tests.yml@v2
    with:
      module_id: jahia-page-composer
      provisioning_manifest: provisioning-manifest-release.yml
      testrail_project: Page Composer Module
      jahia_image: jahia/jahia-ee:8
      artifact_prefix: jpc-rl
      timeout_job: 45
      timeout_step: 35
